[Desktop Entry]
Version=1.1
Encoding=UTF-8
Name=MCM
GenericName=Connections Manager
X-GNOME-FullName=MCM Connections Manager
Comment=MCM Connections Manager
Exec=/usr/bin/mcm-gtk
Icon=internet-network-preferences-tools-icone-5174.ico
Terminal=false
Type=Application
Categories=Application;GTK;Network;